@{ ViewData["Title"] = "Home Page"; }

<div class="jumbotron">
    <p>Azure AD login sample</p>
    @if (User.Identity.IsAuthenticated)
    {
<span><i class="glyphicon glyphicon-ok text-success"></i>&nbsp; Hello @User.Identity.Name</span>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Are you sure you want to logout?</h3>
                        <form a method="post" asp-action="Logout">
                            <button type="submit" class="btn btn-lg btn-danger">Logout </button>

                        </form>
                    </div>
                </div>}
    @if (!User.Identity.IsAuthenticated)
    {
<div class="row">
    <div class="col-md-12">
        <h3>Are you sure you want to logout?</h3>
        <form a method="post" asp-action="Login">
            <button type="submit" class="btn btn-lg btn-danger">Login </button>

        </form>
    </div>
</div>}
</div>
